[submodule "batch_submission"]
	path = batch_submission
	url = git@github.com:philippgadow/evgen_batch.git
[submodule "mc15joboptions"]
	path = mc15joboptions
	url = ssh://git@gitlab.cern.ch:7999/atlas-physics/pmg/infrastructure/mc15joboptions.git
